/* SystemAdmin.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

#logoutBtn {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

section {
    margin-bottom: 20px;
}

/* Styles for search bar */
.search-container {
    margin-bottom: 10px;
}

.search-container input[type=text] {
    padding: 10px;
    width: 300px;
}

.search-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #0056b3;
}

/* Other button styles */
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}
